body {
	padding: 0;
	margin: 0;
	font-family: Crimson Text semi bold, Crimson text regular, De Valencia;
	width: 100%;
	color: #000;
	font-size: 10px;
	overflow-x: hidden;
	z-index: 0;
}

a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 9em;
	font-weight: normal;
}

h2 {
	padding: 0;
	margin: 0;
	font-size: 5.5em;
	font-weight: normal;
}

h3 {
	padding: 0;
	margin: 0;
	font-size: 5.5em;
	font-weight: normal;
}

p {
	font-family: Crimson Text;
	line-height: normal;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	padding: 0 0px;
	margin: 0 auto;
}

#ellipse-6-page-200px {
	position: absolute;
	margin-top: -8.20833333333%;
	left: 0%;
	max-width: 10.4166666667%;
}

#ellipse-6-page-100px {
	position: absolute;
	margin-top: -13.4166666667%;
	margin-left: 5.72916666667%;
	max-width: 5.20833333333%;
}

#ellipse-6-page-60px {
	position: absolute;
	margin-top: -18.625%;
	margin-left: 5.72916666667%;
	max-width: 3.125%;
}

#a-global-home:hover{
		background: rgba(233, 189, 0, 0.8)
}

#a-global-gallery:hover{
		background: rgba(250, 159, 222, 0.8);
}

#a-global-about:hover{
		background: rgba(206, 147, 255, 0.8);
}

#menu_button_4:hover{
		background: rgba(41, 203, 240, 0.8);
}

#a-global-contacts:hover{
		background: rgba(41, 203, 240, 0.8);
}

@media (min-width: 2000px){
	.container {
	max-width: 2000px;
	margin-left:auto;
	margin-right:auto;
	}
}

/*Медиазапросы*/

@media (max-width: 4000px) {
	h1, h2 {
		font-size: 13em;
	}
}

@media (max-width: 2000px) {
	h1, h2 {
		font-size: 11em;
	}
}

@media (max-width: 1400px) {
	h1, h2 {
		font-size: 9em;
	}
}

@media (max-width: 1200px) {
	h1, h2 {
		font-size: 7em;
	}
}

/*Атрибуты блоков главной страницы*/
.header{
	background: #000;
	width: 100%;
}

.nav {
	padding-top: 40px;
	margin-left: 20.3125%;
	display: flex;
	align-items: center;
}

.logo {
	width: 80px;
}

.menu {
		font-family: Crimson text regular;
		color: white;
		text-decoration: none;
		display: flex;
}

.menu li {
	margin-right: 25px;
}

.menu li a {
	color: #fff;
	font-size: 1.6em;
}

.menu li a:hover {
	text-decoration: underline;
}

.main-page {
	max-width: 100%;
	display: flex;
	background: #000;
	color: #fff;
	flex-direction: column;
}

.main-page h1 {
	max-width: 100%;
	margin-top: 6.49%;
	margin-left: 24.53125%;
	transform: rotate(-4.1deg);
}

.main-page h2 {
	margin-top: -8%;
	max-width: 80%;
	margin-left: 43.9583333333%;
	transform: rotate(-9.65deg);
}

#top-commet {
	max-width: 71.8229166667%;
	margin-left: 13%;
	margin-top: 20px;
}

#bottom-commet {
	max-width: 37%;
	margin-left: 34.375%;
	margin-top: 15px;
}

.let-me-show-you {
	text-align: center;
	font-family: De Valencia;
	margin-top: 4.16666666666%;
	text-decoration: none;
}

#let-me-show-you {
	font-size: 3em;
}

.main-menu-arrow {
	max-width: 30px;
	padding-bottom: 1%;
	margin-top: 0.5%;
}

.page-2 {
	margin-top: 10.8796296296%;
	position: relative;
	display: flex;
	width: 89.5833333333%;
}

.page-2-bg {
	z-index: -2;
	width:89.5833333333%;
	background: #000;
}

.page-2 img {
	z-index: -1;
	width: 89.6875%;
	object-fit: cover;
}

.text-block-page-2 {
	position: absolute;
	display: flex;
	flex-direction: column;
	max-height: 21.3541666667%;
	margin-left: 45.3125%;
	color: #fff;
	background: #000;
	width: 53%;
}

.page-2 h2 {
	font-size: 2.865vw;
	font-family: Crimson Text;
	color: #fff;
	margin-top: 4.16666666667%;
}

.text-block-page-2 p {
	letter-spacing: -0.05em;
	font-size: 1.563vw;
}

#more-about-me-page-2 {
	font-family: De Valencia;
	margin-top: 1.5625%;
	font-size: 1.563vw;
}

@media (max-width: 1700px) {
	#more-about-me-page-2 {
	font-family: De Valencia;
	}
}

.page-3 {
	margin-top: 17.4479166667%;
	max-width: 100%;
	text-align: center;
	z-index: -1;
}

.page-3-graphics-1 {
	position: relative;
	z-index: 1;
	display: flex;
	width: 100%;
}

.ellipse-3rd-page-400px {
	position: absolute;
	margin-left: 1.04166666667%;
	margin-top: -5.20833333333%;
	max-width: 20.8333333333%;
}

.ellipse-3rd-page-250px {
	position: absolute;
	margin-left: 0%;
	margin-top: 17.7083333333%;
	max-width: 13.0208333333%;
}

.page-3-graphics-2 {
	position: relative;
	z-index: 1;
	display: flex;
	width: 100%;
}

.ellipse-3rd-page-155px {
	position: absolute;
	margin-left: 3.64583333333%;
	margin-top: 12.7604166667%;
	max-width: 8.07291666667%;
}

.ellipse-3rd-page-645px {
	position: absolute;
	margin-left: 79.6875%;
	margin-top: 6.25%;
	max-width: 20.3125%;
}

.page-3 h2 {
	padding-top: 10.4166666667%;
	background: #000;
	color: #fff;
}

.page-3-p {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 2.08333333333%;
	background: #000;
	font-style: normal;
	font-weight: 600;
	font-size: 1.563vw;
	text-align: center;
	color: #FFFFFF;
}

.page_3_arrow-div {
	background: #000;
	max-width: 100%;
	max-height: 35.4166666667%;
	margin-top: 0;
	padding-top: 2.60416666667%;
}

.page-3-plug {
	background: #000;
	padding-bottom: 9.84375%;
}

.page-4 h2 {
	margin-top: 10.5208333333%;
	font-family: De Valencia;
	font-weight: normal;
	line-height: 108px;
	text-align: center;
	color: #000000;
}

@media (min-width: 1770px) {
	.page-4-adaptiv {
	padding-right: 15%
	}
}

.page-4-content {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2.60416666667%;
}

@media (max-width: 1770px){
	.page-4-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 2.60416666667%;
	}
}

.page-4-content p {
	max-height: 16.6666666667%;
	margin-left: 19.5833333333%;
	margin-right: 3.75%;
	font-style: normal;
	letter-spacing: -0.05em;
	color: #000000;
	font-size: 2.8em;
}

@media (max-width: 1770px){
	.page-4-content p {
	width: 80%;
	margin-left: 0px;
	margin-right: 0px;
	}
}

.page-4-content img {
	width: 80%;
	height: 23.4375%;
}

@media (max-width: 1770px){
	.page-4-content img {
	width: 80%;
	}
}

.graphics-between-5-6-pages {
	position: relative;
	margin-top: 5.58333333333%;
	z-index: 1;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.graphics-between-5-6-pages img:nth-child(1) {
	max-width: 40.5026041667%;
	margin-left: -5px;
	position: absolute;
}

.graphics-between-5-6-pages img:nth-child(2) {
	position: absolute;
	margin-left: 61.4583333333%;
	margin-top: 6.25%;
	max-width: 32.7036458333%;
}

.page-5-content {
	width: 100%;
	margin-top: 19.7916666667%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-5-content p {
	font-size: 2.8em;
	width: 55%;
	letter-spacing: -0.05em;
	text-align: center;
	color: #000000;
}

.before-after-prewiev {
	margin: 0 auto;
	margin-top: 2.08333333333%;
}

.page-6-content {
	margin-left: 13.0208333333%;
	width: 73.9583333333%;
	align-items: center;
}

.page-6-content h2 {
	margin-top: 10.9375%;
	text-align: center;
}

.page-6-adaptiv {
	margin-top: 2.08333333333%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
}

#page-6-p {
	width: 44.2708333333%;
	letter-spacing: -0.05em;
	font-size: 2.8em;
}

.page-6-adaptiv img {
	z-index: 0;
	max-width: 50.2604166667%;
	position: absolute;
	margin-left: 23.6979166667%;
	margin-top: -1.5%;
}

@media (max-width: 1900px) {
	.page-6-adaptiv img {
	margin-left: 33%;
	}
}

@media (max-width: 1200px) {
	.page-6-adaptiv img {
	margin-top: 5%;
	}
}

.page-6-end-bg {
	width: 100%;
	margin-top: -5.20833333333%;
}

@media (max-width: 1500px) {
	.page-6-end-bg {
	margin-top: -5%;
	}
}

@media (max-width: 1200px) {
	.page-6-end-bg {
	margin-top: -7%;
	}
}

.circle-position {
	position: relative;
	width: 100%;
}

.page-7-content {
	width: 100%;
	background: #000;
	margin-top: -1%;
	align-items: center;
	text-align: center;
}

.page-7-content h2 {
	background: #000;
	padding-top: 7.8125%;
	color: #FFFFFF;
}

.page-7-arrow {
	background: #000;
	margin-left: -23%;
	padding-top: 4.6875%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@media (max-width: 1200px){
	.page-7-arrow {
	margin-left: 0;
	padding-top: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	}
}

.page-7-arrow p {
	color: #fff;
	margin-top: 0%;
	font-size: 1.563vw;
}

@media (max-width: 1200px){
	.page-7-arrow p {
	margin-left: 0;
	}
}

.page-7-arrow img {
	width: 12.5%;
	margin-left: 1%;
}

@media (max-width: 1200px){
	.page-7-arrow img {
	margin-right: 30px;
	}
}

footer {
	background: #000;
	width: 100%;
}

.mail-ico {
	position: relative;
	z-index: 5;
	text-align: center;
	padding-top: 5%;
}

.mail-ico img {
	margin-right: 0.3%;
	width: 5%;
}

.footer-bg {
	position: relative;
	z-index: 1;
	width: 100%;
	margin-top: -10%;
}

.page-7-pop-up {
	margin-top: -41%;
	width: 100%;
}

.pop-up-bg {
	max-width: 100%;
	overflow: hidden;
}

.footer-flex-box {
	position: relative;
	z-index: 2;
	display: flex;
	margin-top: -20%;
	margin-left: 2.60416666667%;
}

.fotter-menu {
	margin-top: 1%;
	width: 100%;
}

.fotter-menu a {
	color: #fff;
}

footer ul {
	text-align: left;
	font-family: Crimson Text;
	font-size: 2.8em;
	letter-spacing: -0.05em;
	color: #fff;
}

footer li {
	margin-top: 10px;
}

@media (max-width: 1700px) {
	.footer li {
	margin-top: 0;
	}
}

#copyright {
	font-family: Crimson Text;
	margin-top: 4.6875%;
}

@media (max-width: 1700px) {
	#copyright {
	margin-top: -15.58%;
	margin-right: 2%;
	text-align: right;
	}
}

#copyright span {
	letter-spacing: 0.25em;
}

#sign {
	position: relative;
	margin-top: 2%;
	z-index: 2;
	background: #000;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1700px) {
	#sign {
	margin-top: 12%;
	}
}

#end-logo {
	margin-top: -4.3%;
	width: 50px;
}

#sign h2 {
	font-family: Crimson Text;
	font-style: normal;
	font-size: 28px;
	letter-spacing: -0.05em;
	color: #FFFFFF;
	margin-top: -4.3%;
}

@media (max-width: 4000px) and (min-width: 1781px) {
	#page-2-h2 {
		font-size: 5em;
	}
	#more-about-me-page-2 {
		font-size: 3em;
	}
}

@media (max-width: 1780px) and (min-width: 1501px) {
	#page-2-h2 {
		font-size: 4.5em;
	}
}

@media (max-width: 1500px) and (min-width: 1201px) {
	#page-2-h2 {
		font-size: 4em;
	}
	#more-about-me-page-2 {
		font-size: 2.3em;
	}
}

@media (min-width: 1920px) {
	#page-2-p1 {
		font-size: 30px;
	}
}

/*Атрибуты блоков галереи*/
.gallery-header {
	padding-top: 40px;
	width: 100%;
	text-align: center;
}

#gallery-logo {
	margin: 0 auto;
	padding-left: 20px;
	width: 80px;
}

.gallery-nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#gallery-nav-back img {
	width: 45px;
	transform: rotate(-90deg);
}

#gallery-nav-forward img {
	width: 45px;
	transform: matrix(0, -1, -1, 0, 0, 0);
}

.gallery-h1 {
	text-align: center;
	margin-top: -35px;
}

.gallery-items-flex-block {
	width: 100%;
	margin: 1% auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.first-container {
	position: relative;
	width: 33.3333333333%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.gallery-image-container-1 {
	position: relative;
	margin-top: 18.75%;
	width: 50%;
	padding-top: 28.125%;
	overflow: hidden;
}

.gallery-image-container-1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.gallery-image-container-2 {
	margin-left: 3.125%;
	position: relative;
	width: 46.875%;
	padding-top: 46.875%;
	overflow: hidden;
}

.gallery-image-container-2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.gallery-image-container-3 {
	margin-top: 3.125%;
	position: relative;
	width: 100%;
	padding-bottom: 46.875%;
	overflow: hidden;
}

.gallery-image-container-3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.gallery-image-container-4 {
	margin-top: 4.10391566265%;
	margin-left: 1.20481927711%;
	position: relative;
	width: 16.6666666667%;
	padding-top: 29.1666666667%;
	overflow: hidden;
}

.gallery-image-container-4 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.seccond-container {
	position: relative;
	margin-left: 1.20481927711%;
	width: 19.2771084337%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.gallery-image-container-5 {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	overflow: hidden;
}

.gallery-image-container-5 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.gallery-image-container-6 {
	margin-top: 6.25%;
	position: relative;
	width: 100%;
	padding-top: 87.5%;
	overflow: hidden;
}

.gallery-image-container-6 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.gallery-image-container-7 {
	margin-top: 6.25%;
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	overflow: hidden;
}

.gallery-image-container-7 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.third-container {
	position: relative;
	margin-left: 1.20481927711%;
	width: 19.2771084337%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.gallery-image-container-8 {
	margin-top: 6.25%;
	position: relative;
	width: 100%;
	padding-top: 100%;
	overflow: hidden;
}

.gallery-image-container-8 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.gallery-image-container-9 {
	margin-top: 6.25%;
	position: relative;
	width: 100%;
	padding-top: 100%;
	overflow: hidden;
}

.gallery-image-container-9 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

@media only screen and (max-width: 768px) {
	.gallery-items-flex-block {
		flex-direction: column;
		align-items: center;
	}
	.first-container {
		width: 80%;
	}
	.gallery-image-container-4 {
		margin-top: 4.2%;
		width: 50%;
		padding-top: 87%;
	}
	.seccond-container {
		margin-top: 4.2%;
		width: 80%;
	}
	.third-container {
		margin-top: 2.08333333333%;
		width: 80%;
	}
}